<div class="card">
    <div class="container-fluid">

        <div class="card-header row">
            <h2>Column Filtering
                <small>Type something in filter and press Enter or Filter button</small>
            </h2>

            <br/>
            <br/>

            <div class="col-md-12">

            </div>
        </div>

        <div class="card-body row">

            <div class="table-responsive">
                <div google-chart chart="myChartObject" style="height:300px; width:70%;"></div>
            </div>


            <div class="table-responsive">
                <div google-chart chart="myChartObject2" style="height:300px; width:70%;"></div>
            </div>


            <div class="table-responsive">
                <div google-chart chart="myChartObject1" style="height:300px; width:70%;"></div>
            </div>

            <!--<div class="table-responsive">-->
                <!--<div google-chart chart="myChartObject3" style="height:300px; width:50%;"></div>-->
            <!--</div>-->


            <!--<div class="table-responsive">-->
                <!--<div google-chart chart="myChartObject3" style="height:300px; width:50%;"></div>-->
            <!--</div>-->

            <!--<div class="table-responsive">-->
                <!--<div google-chart chart="myChartObject4" style="height:300px; width:50%;"></div>-->
            <!--</div>-->

        </div>

    </div>
</div>

